{% load staticfiles %}

@font-face {
    font-family: 'futura-pt-light';
    src: url('/static/fonts/futura-pt-light.ttf')  format("truetype"),
         local('futura-pt-light');
}

a {
    outline: 0 !important;
}

footer {
    position: absolute;
    width: 100%;
    background-color: black;
    padding: 60px 0px;
    margin-top: 10%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: white;
    z-index: 50;
}

.logo {
    height: 100%;
    width: 60px;
}

.logo-font {
    font-size: 30px;
    margin-left: 0;
}

.header-font {
    font-family: 'Century Gothic', sans-serif;
    cursor: pointer;
}

.image-holder {
    position: relative;
    overflow: auto;
}

.image-holder:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.6;
}

.candidates {
    position: absolute;
    z-index: 95;
}

.candidates-image {
    border-radius: 75%;
    border-width: .5rem;
    z-index: 2;
    flex: 1 0 25%;
    width: 15%;
    height: 15%;
    max-width: 15%;
    max-height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    cursor: pointer;
    align-self: stretch;
}

.pict:hover {
    /* border-color: red; */
    transform: scale(1.2);
    transition: all 300ms;

}

.pict2:hover {
    /* border-color: red; */
    transform: scale(1.2);
    transition: all 300ms;

}

.pictcontainer {
    border-style: solid;
    border-color: white;
    width: 90%;
    /* max-height: 5%; */
    /* height:30%; */
    margin-left: 6rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1%;
    overflow: auto;
}

.pictcontainer2 {
    font-family: 'Century Gothic', sans-serif;
    border-style: solid;
    border-color: white;
    width: 90%;
    margin-left: 6rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1%;
    text-align: right;
}

.rep-candidates-underline {
    background-color: #ED2024;
}

.dem-candidates-underline {
    background-color: #415CAA;
}

.textbox {
    color: black;
    z-index: -1;
    height: 6rem;
    text-decoration: none;
    font-size: 3rem;
    text-align: left;
}

.textbox2 {
    font-family: 'Century Gothic', sans-serif;
    color: black;
    z-index: -1;
    height: 6rem;
    text-decoration: none;
    font-size: 3rem;
    text-align: right;
}

#about-image {
    margin-top: 100px;
    display: inline-block;
    position: relative;
}

#about-image:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.7;
}

#about-box {
    max-width: 50%;
    width: 50%;
    background: #ED2024;
    display: inline-block;
}

.blue-box {
    width: 80%;
    height: 100%;
    background: #212121;
    margin: 0 auto;
    padding: 50px;
    z-index: 5;
}

#candidates-header {
    margin-left: 680px;
}

#about {
    font-family: 'futura-pt-light', sans-serif;
    color: white;
    margin-top: 50%;
}

.body-headers {
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 32px;
}

.name-header {
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 24px;
}

.body-content {
    font-family: 'futura-pt-light', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    line-height: 2rem;
}

.body-structure {
    max-width: 38rem;
    
}

.headshot {
    width: 50%;
}

.headshot-box {
    width: 50%;
    color: white;
}

.sub-header {
    font-family: 'Futura', sans-serif;
    font-size: 22px;
    line-height: 1rem;
    color: black;
}

.bio-answer {
    font-family: 'futura-pt-light', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 2rem;
    color: black;
}

.github {
    width: 5%
}

.linked-in {
    width: 6%
}

.center-graph {
    display: flex;
    justify-content: center;
}

#particles-js {
  max-width: 100%;
  background-image: url("white-house2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#particles-js2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -670;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
}

#white-box {
    background-color: #ffffff;
}

 #clockdiv { 
    font-family: 'Century Gothic', sans-serif;
    font-size: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    z-index: 40;
    position: absolute;
    width: 100%;
    margin-top: 20%;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: black;
    display: inline-block;
    opacity: 0.7;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: black;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.clock-header {
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 32px;
}

.methodology-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.methodology-image:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.6;
}

.data-image-text {
    z-index: 30;
    position: absolute;
    width: 100%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 72px;
    color: white;
    top: 400px;
    left: 35%;
    bottom: 0;
    right: 0;
}

.analysis-image-text {
    z-index: 30;
    position: absolute;
    width: 100%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 72px;
    color: white;
    top: 400px;
    left: 4%;
    bottom: 0;
    right: 35%;
}

.party-logo {
    width: 15%;
    height: 15%;
    max-width: 15%;
    max-height: 15%;
    margin: 0 auto;
}
.pictcontainerdetail {
    font-family: 'Century Gothic', sans-serif;
    border-style: solid;
    border-color: white;

    margin-left: 6rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    z-index: 1;
    display: flex;


    padding: 1%;
    text-align: right;
    overflow: hidden;
    padding-right: 15%;
    overflow: auto;
}

.pictdetail {
    border: all;
    border-style: solid;
    border-radius: 100%;
    border-color: white;
    width: 30%;
    height: 30%;
    border-width: .5rem;
    margin-right: 2%;
    z-index: 2;
    align-self: stretch;
    float: left;
}

.textboxdetail {
    color: black;
    z-index: -1;
    height: rem;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
}

.graphdetail {
    font-family: "Futura", sans-serif;
}

.detaildes {
    font-family: "futura-pt-light", sans-serif;

}

.capitalize {
    text-transform: capitalize
}

/* methodology page collapsobile  */
.collapsible {
    font-family: "Century Gothic", sans-serif;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    height: 5rem;
    border: none;
    text-align: center;
    outline: none;
    
}
.active, .collapsible:hover {
    background-color: white;
  }
  
.content {
    font-family: "futura-pt-light", sans-serif;
    padding: 0 18px;
   
    overflow: hidden;
    background-color: #f1f1f1;
    
}

.methcontainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100;

}

.methcolumn {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.methheaders {
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 6rem;
}
.project {
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease-out;
    
    }
.project.fade-in {
opacity: 1;
transform: translateY(0);
}

.methcontent {
        font-family: 'futura-pt-light', sans-serif;
        font-size: 2rem;
        font-weight: lighter;
        line-height: 2rem;
    }

.projectmeth {
    opacity: 0;
    transform: translateX(300px);
    transition: all 1s ease-out;
    
    }
.projectmeth.fade-in {
    opacity: 1;
    transform: translateX(0);

}


.projectmeth2 {
    opacity: 0;
    transform: translateY(300px);
    transition: all 1s ease-out;
    
    }
.projectmeth2.fade-in {
opacity: 1;
transform: translateY(0);
}