{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>polimetrics</title>
    <meta charset="utf-8">
    <meta name="description"
        content="Polimetrics aims to provide an innovative polling solution for the 2020 Presidential Primary by using the mood sentiment of Tweets.">
    
        <link rel="shortcut icon" href="{% static '/img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:700" rel="stylesheet">
    <script src="{% static 'build/bundle.js' %}"></script>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    {{ script | safe }}
</head>
<header>
    <nav class="nav " id="navbar">
        <ul class="flex">
            <a href="{% url 'index' %}">
                <img class="logo" src="{% static '/img/logo.png' %}"
                    alt="An artist rendering of a vertical U.S. flag; the first four lines have variating line length that reflects a bar graph.">
            </a>
            <a class="link flex " href="{% url 'index' %}">
                <div class="logo-font black mt2 ml2 header-font dib b w-100">polimetrics</div>
            </a>
            <div class="w-100 flex list justify-end pa3">
                <li class="header-font ml1"></li>
                <li class="header-font ml1"></li>
                <li><a class="header-font  black link ml1 hover-red dib"
                        href="{% url 'methodology' %}"><strong>methodology</strong></a></li>
                <li class="header-font ml1"></li>
                <li><a class="header-font  black link ml1 mh4  mr4 hover-dark-blue dib"
                        href="{% url 'about' %}"><strong>about</strong></a></li>
            </div>
        </ul>
    </nav>
</header>
<body>
<div class="sidenav projectsidenav mt5" id="projectsidenav">
    <div>
        {% for candidate in candidates %}
        {% if candidate.party == "republican" %}
        <div tooltip="{{ candidate }}" tooltip-position="bottom">
            <a href="{% url 'candidate_detail' slug=candidate.slug %}"><img class="candidates-image"
                    src="{{ candidate.image.url }}"></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for candidate in candidates %}
            {% if candidate.party == "democrat" %}
                {% if candidate.first_name == 'beto' %}
                    <div class="tooltip-hover" tooltip="Beto O'Rourke"
                        tooltip-position="bottom">
                        <a href="{% url 'candidate_detail' slug=candidate.slug %}"><img class="candidates-image"
                                src="{{ candidate.image.url }}"></a>
                    </div>
                {% else %}
                    <div class="tooltip-hover" tooltip="{{ candidate }}"
                        tooltip-position="bottom">
                        <a href="{% url 'candidate_detail' slug=candidate.slug %}"><img class="candidates-image"
                        src="{{ candidate.image.url }}"></a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="pa4 mt5"></div>
</div>
<div class="main">
    <body>
        {% block content %}{% endblock %}
    </body>
</div>
<footer>
    <div class="flex white">
        <div class="ml6 pl3" id="clockdiv">
            <div class="clock-header"><strong>Countdown to First Primary</strong></div>
            <div class="flex tc">
                <div class="pa2">
                    <span class="days" id="day"></span>
                    <div class="smalltext" id="navel">Days</div>
                </div>
                <div class="pa2">
                    <span class="hours" id="hour"></span>
                    <div class="smalltext">Hours</div>
                </div>
                <div class="pa2">
                    <span class="minutes" id="minute"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div class="pa2">
                    <span class="seconds" id="second"></span>
                    <div class="smalltext" id="navel">Seconds</div>
                </div>
            </div>
        </div>
        <div class="candidates-footer-header pl5"><strong>Candidates</strong>
            <div class="footer-candidates-container">
                {% for candidate in candidates %}
                    {% if candidate.party == "republican" %}
                        <a class="link footer-candidates ml2 mr3 hover-red" href="{% url 'candidate_detail' slug=candidate.slug %}">{{ candidate }}</a>
                    {% endif %}
                {% endfor %}
                {% for candidate in candidates %}
                    {% if candidate.party == "democrat" %}
                        {% if candidate == 'Beto Orourke' %}
                            <a class="link footer-candidates ml2 mr3 hover-dark-blue" href="{% url 'candidate_detail' slug=candidate.slug %}"><p>'Beto O'Rourke'</p></a>
                        {% else %}
                            <a class="link footer-candidates ml2 mr3 hover-dark-blue" href="{% url 'candidate_detail' slug=candidate.slug %}">{{ candidate }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
</body>

</html>