{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>polimetics</title>
    <meta charset="utf-8">
    <meta name="description" content="Polimetrics aims to provide an innovative polling solution for the 2020 Presidential Primary by using the mood sentiment of Tweets.">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:700" rel="stylesheet">
    <script src="{% static 'build/bundle.js' %}"></script>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    {{ script | safe }}
</head>
<header>
    <nav class="nav">
        <ul class="flex">
           <a href="{% url 'index' %}">
                <img class="logo" src="{% static '/img/logo.png' %}" alt="An artist rendering of a vertical U.S. flag; the first four lines have variating line length that reflects a bar graph."/>
            </a>
            <a class="link" href="{% url 'index' %}">
                <div class="logo-font black mt2 ml2 header-font hover-white dib b ">polimetrics</div>
            </a>
            <div class="w-100 flex list justify-end pa3">
                <li ><a class="header-font black link ml1 hover-red dib" href="{% url 'candidates' %}">candidates</li></a>
                <li class="header-font ml1">-</li>
                <li class="header-font ml1 link hover-dark-blue dib">compare</li>
                <li class="header-font ml1">-</li>
                <li class="header-font ml1 hover-dark-red dib">trends</li>
                <li class="header-font ml1">-</li>
                <li><a class="header-font black link ml1 hover-dark-blue dib" href="{% url 'methodology' %}">methodology</a></li>
                <li class="header-font ml1">-</li>
                <li><a class="header-font black link ml1 mr4 hover-red dib" href="{% url 'about' %}">about</a></li>
            </div>
        </ul>
    </nav>
</header>

<body>
    {% block content %}{% endblock %}
</body>
</html>