{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="detailbody">
<div class="pictcontainerdetail mt6 mr6">
        <img src="{{ candidate.image.url }}" class="pictdetail project" id="project01">
    <div class="textboxdetail">
        <text class="name  mt4 f-headline b   "> {{ candidate }}
        </text>
        <br>
        <div class=" tc f2    graphdetail   "> Sentiment Analysis </div>
        <div class="flex     ">
    
            {{ div | safe }}
            
        </div>
        <p class="f2 graphdetail  ">The blue line represents each day's sentiment activity and the black line represents the overall trend in relation to the first date.</p>
           
            
    
    </div>
</div>


<div class="ml5 mr5 methproject ">     
<div>
        <div class="body-headers accordiondetailpage pa3"><strong>About {{ candidate }}</strong></div>
        <div class="paneldetailpage">
            <div class="lh-copy">
                <div class="tc">{{ candidate.description }} [source: wikipedia.com]</li>
            </div>
        </div>
    </div>
</div>

</div>

<br>
<br>
<br>
<br><br>
<br><br>
<br>
<script>
        let acc = document.getElementsByClassName('accordion')
        let i
      
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener('click', function () {
            this.classList.toggle('active')
            let panel = this.nextElementSibling
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null
            } else {
              panel.style.maxHeight = panel.scrollHeight + 'px'
            }
          })
        }
      </script>

{% endblock %}