{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<body class="canbody">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="pictcontainer">
                <a href="https://corybooker.com/" class="link">
                        <img src="{% static '/img/Cory_Booker,_official_portrait,_114th_Congress.jpg' %}" class="pict2">
                        <div class="textbox2">
                                <text class="name  avenir"> Cory Booker</text>
                                <text class="avenir f5 "> Cory Anthony Booker (born April 27, 1969) is an American politician serving as the junior United States Senator from New Jersey since 2013 and a member of the Democratic Party. The first African-American U.S. Senator from New Jersey, he was previously the 36th Mayor of Newark from 2006 to 2013. Before that, Booker served on the Municipal Council of Newark for the Central Ward from 1998 to 2002. On February 1, 2019, he announced his campaign to run for the Democratic nomination for President of the United States in the 2020 United States presidential election.</text>
                        </div>
                </a>
        </div>

        <div class="pictcontainer"><a href="https://amyklobuchar.com/" class="link">
                        <img src="{% static '/img/Amy_Klobuchar,_official_portrait,_113th_Congress_(cropped_2).jpg' %}"
                                class=" pict">
                        <div class="textbox">
                                <text class=" avenir"> Amy Klobuchar </text>
                                <text class=" avenir f5">is an American lawyer and politician serving as the senior United States Senator from Minnesota. A member of the Minnesota Democratic-Farmer-Labor Party, Minnesota's affiliate of the Democratic Party, she previously served as the Hennepin County Attorney. Born in Plymouth, Minnesota, Klobuchar is a graduate of Yale University and the University of Chicago Law School. Klobuchar was first elected to the Senate in 2006, becoming Minnesota's first elected female United States Senator, and reelected in 2012 and 2018. In 2009 and 2010, she was described as a "rising star" in the Democratic Party. She is running for the Democratic nomination for President of the United States in the 2020 election</text>
                        </div>

        </div>
        </a>

        <div class="pictcontainer"> <a href="https://www.yang2020.com/" class="link">
                        <img src="{% static '/img/Andrew_Yang_talking_about_urban_entrepreneurship_at_Techonomy_Conference_2015_in_Detroit,_MI_(cropped).jpg' %}"
                                class=" pict2">
                        <div class="textbox2"> <text class="body-headers"> Andrew Yang </text>
                                <text class="body-content">(born on January 13, 1975) is an American entrepreneur, philanthropist, the founder of Venture for America (VFA), and a U.S. 2020 Democratic presidential candidate.  One of the main elements of Yang's bid for the 2020 presidential nomination, which he officially launched in November 2017[3], is a proposal for Universal Basic Income (UBI), known as the Freedom Dividend, for every American adult aged 18-64, in response to the rapid development of automation that is leading to workforce challenges.</text>
                        </div>
        </div>
        </a>





        <div class="pictcontainer"><a href="https://berniesanders.com/" class="link">
                        <img src="{% static '/img/Bernie_Sanders.jpg' %}" class=" pict">
                        <div class="textbox"><text class="avenir"> Bernie Sanders</text>
                                <text class="avenir f5">

                                                A self-described democratic socialist and progressive, Sanders supports labor rights and emphasizes reversing economic inequality. He advocates for universal and single-payer healthcare, paid parental leave, as well as tuition-free tertiary education. On foreign policy, Sanders broadly supports reducing military spending, pursuing more diplomacy and international cooperation, and putting greater emphasis on labor rights and environmental concerns when negotiating international trade agreements.</text>

                        </div>
        </div>
        </a>

        <div class="pictcontainer"><a href="https://betoorourke.com/" class="link">
                        <img src="{% static '/img/Beto_ORourke,_Official_portrait,_113th_Congress_(cropped_3).jpg' %}"
                                class=" pict2">
                        <div class="textbox2"> <text class="avenir"> Beto O'Rourke </text>
                                <text class="avenir f5">Robert Francis "Beto" O'Rourke (born September 26, 1972) is an American businessman, musician, and politician of the Democratic Party who represented Texas's 16th congressional district for three terms in the United States House of Representatives. A native of El Paso, Texas, O'Rourke served on the El Paso City Council from 2005 to 2011. O'Rourke was elected to the U.S. House of Representatives in 2012 after defeating incumbent Silvestre Reyes in a Democratic primary. Instead of seeking re-election in 2018, he ran for U.S. Senate and was narrowly defeated by Republican incumbent Senator Ted Cruz. On March 14, 2019, O'Rourke announced his candidacy for the Democratic nomination for President of the United States in 2020.</text>
                        </div>
        </div>
        </a>

        <div class="pictcontainer"><a
                        href="https://elizabethwarren.com/?source=WFP2019-LB-GS-NC&subsource=GS-65766185245-elizabeth%20warren-p-335466676011&utm_source=GS&utm_campaign=WFP2019-LB-GS-NC&utm_term=Elizabeth%20warren-335466676011&gclid=EAIaIQobChMImcPizaDV4QIViLfACh1nTgUPEAAYASAAEgJNW_D_BwE"
                        class="link">
                        <img src="{% static '/img/Elizabeth_Warren,_official_portrait,_114th_Congress_(cropped)(2).jpg' %}"
                                class=" pict">
                        <div class="textbox"> <text class="avenir"> Elizabeth Warren </text>
                                <text class="avenir f5"> Elizabeth Ann Warren (born June 22, 1949) is an American politician and academic serving as the senior United States Senator from Massachusetts since 2013. Warren was formerly a prominent scholar specializing in bankruptcy law. A noted progressive leader, she has focused on consumer protection, economic opportunity, and the social safety net while in the Senate. Some commentators describe her position as left-wing populism. Warren is a graduate of the University of Houston and Rutgers Law School. She taught law at several universities, including the University of Houston, the University of Texas at Austin, the University of Pennsylvania, and Harvard University.</text>


                        </div>
        </div>
        </a>

        <div class="pictcontainer"><a href="https://swalwell.house.gov/" class="link">
                        <img src="{% static '/img/Eric_Swalwell_114th_official_photo_(cropped).jpg' %}" class=" pict2">
                        <div class="textbox2"><text class="avenir"> Eric Salwell</text>
                        <text class="avenir f5"> Eric Michael Swalwell Jr.[1] (born November 16, 1980) is an American politician from California, who serves as the U.S. Representative from California's 15th congressional district. His district covers most of eastern Alameda County and part of central Contra Costa County. He is a member of the Democratic Party.He was elected to the U.S. House in November 2012, defeating incumbent Pete Stark, a 40-year incumbent who had held the office since 1973. Stark was a fellow Democrat almost a half-century Swalwell's senior; Swalwell was born shortly after Stark's re-election to his fifth term in Congress in the 1980 election. Swalwell took office on January 3, 2013. Swalwell announced his candidacy for the Democratic presidential nomination on April 8, 2019.</text>
                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://www.hickenlooper.com/" class="link">
                        <img src="{% static '/img/Governor_John_Hickenlooper_2015.jpg' %}" class=" pict">
                        <div class="textbox"><text class="avenir"> John Hickenlooper</text>
                        <text class=" avenir f5"> John Wright Hickenlooper Jr.(born February 7, 1952) is an American politician and businessman who served as the 42nd Governor of Colorado from 2011 to 2019. He is a member of the Democratic Party. In 2019, he announced that he is running for President of the United States in 2020. Born in Narberth, Pennsylvania, Hickenlooper is a graduate of Wesleyan University. After his career as a geologist, Hickenlooper entered a career in business and cofounded the Wynkoop Brewing Company in Denver. Hickenlooper was elected the 43rd mayor of Denver in 2003, serving two terms, until 2011.
                                        
                                        </text>
                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://jayinslee.com/" class="link">
                        <img src="{% static '/img/Jay_Inslee_official_portrait_(cropped_2).jpg' %}" class=" pict2">
                        <div class="textbox2">
                                <text class="avenir"> Jay Inslee </text>
                                <text class="avenir f5">Jay Robert Inslee (/ˈɪnzliː/; born February 9, 1951) is an American politician, author, and lawyer serving as the 23rd and current governor of Washington since 2013. A member of the Democratic Party, he served in the United States House of Representatives from 1993 to 1995 and again from 1999 until 2012. On March 1, 2019, Inslee officially announced his candidacy for the Democratic nomination for President of the United States in the 2020 election.</text>



                        </div>
        </div>
        </a>






        <div class="pictcontainer"><a href="https://www.americanpossibilities.org" class="link">
                        <img src="{% static '/img/Joe_Biden_2013.jpg' %}" class=" pict">
                        <div class="textbox">
                                <text class="avenir"> Joe Biden </text>
                                <text class="avenir f5"> Joseph Robinette Biden Jr. (born November 20, 1942) is an American politician who served as the 47th vice president of the United States from 2009 to 2017. A member of the Democratic Party, he represented Delaware in the U.S. Senate from 1973 to 2009.
                                After completing his second term as vice president, Biden joined the faculty of the University of Pennsylvania, where he was named the Benjamin Franklin Professor of Presidential Practice. As of March 2019, Biden was reported to be actively considering a 2020 presidential run,after a mid-2018 Hill/HarrisX poll placed him at the top among potential Democratic presidential candidates.</text>
                        </div>
        </div>
        </a>







        <div class="pictcontainer"><a href="https://www.johndelaney.com/" class="link">
                        <img src="{% static '/img/John_Delaney_113th_Congress_official_photo_(cropped)_2.jpg' %}"
                                class=" pict2">
                        <div class="textbox2">
                                <text class="avenir"> John Delany </text>
                                <text class="avenir f5"> John Kevin Delaney (born April 16, 1963) is an American politician and businessman who is running for President of the United States in 2020. He was the United States Representative for Maryland's 6th congressional district from 2013 to 2019. He is a member of the Democratic Party. On July 28, 2017, Delaney became the first Democrat to announce he is running for president in 2020. Delaney did not run for re-election to Congress in 2018, preferring to focus on his presidential campaign, and David Trone was elected to succeed him.</text>

                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://www.julianforthefuture.com/" class="link">
                        <img src="{% static '/img/Julian_Castros_Official_HUD_Portrait_(cropped).jpg' %}" class=" pict">
                        <div class="textbox">
                                <text class="avenir"> Julian Castro </text>
                                <text class=" avenir f5">Julián Castro (born September 16, 1974) is an American Democratic politician who was the youngest member of President Obama's Cabinet, serving as the 16th United States Secretary of Housing and Urban Development from 2014 to 2017.Castro served as the mayor of his native San Antonio, Texas from 2009 until he joined Obama's cabinet in 2014. He was mentioned as a possible running mate for Hillary Clinton during the 2016 presidential campaign.Castro is the twin brother of Congressman Joaquin Castro.
                                On January 12, 2019, Castro launched his campaign for the Democratic nomination for President of the United States in 2020 in San Antonio. If elected, Castro would become the first Hispanic and Latino American president of the United States.</text>


                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://kamalaharris.org/" class="link">
                        <img src="{% static '/img/Kamala_Harris_official_photo_(cropped).jpg' %}" class=" pict2">
                        <div class="textbox2"><text class="avenir"> Kamala Harris</text>
                                <text class="avenir f5"> Kamala Devi Harris (born October 20, 1964) is an American attorney and politician who has served as the junior United States Senator from California since 2017. A member of the Democratic Party, she previously served as the 32nd Attorney General of California from 2011 to 2017, and as the 27th District Attorney of San Francisco from 2004 to 2011. On January 21, 2019, she officially announced her campaign to run for the Democratic nomination for President of the United States in the 2020 United States presidential election.</text>

                        </div>
        </div>
        </a>






        <div class="pictcontainer"><a href="https://kirstengillibrand.com/" class="link">
                        <img src="{% static '/img/Kirsten_Gillibrand,_official_portrait,_112th_Congress_(cropped).jpg' %}"
                                class=" pict">
                        <div class="textbox"><text class="avenir"> Kirsten Gillibrand</text>
                                <text class="avenir f5"> Kirsten Elizabeth Gillibrand (born December 9, 1966) is an American attorney and politician serving as the junior United States Senator from New York since 2009. A member of the Democratic Party, she previously served as a member of the U.S. House of Representatives from 2007 to 2009.On March 17, 2019, Gillibrand officially declared her candidacy for the Democratic nomination for President of the United States in the 2020 election.</text>

                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://wayneforamerica.com/" class="link">
                        <img src="{% static '/img/Mayor_Messam.jpg' %}" class=" pict2">
                        <div class="textbox2"><text class="avenir"> Wayne Messam </text>
                                <text class="avenir f5"> Wayne Martin Messam (born June 7, 1974) is an American businessman and politician serving as the mayor of Miramar, Florida, a position he has held since 2015. A member of the Democratic Party, he was first elected to the Miramar City Commission in 2011 before defeating incumbent Mayor Lori Cohen Moseley in the 2015 election. Messam is also a general contractor and owner of a construction firm. On March 28, 2019, he announced his campaign to run for the Democratic nomination for President of the United States in the 2020 United States presidential election.
                                </text>

                        </div>
        </div>
        </a>





        <div class="pictcontainer"><a href="https://mikegravel.com/" class="link">
                        <img src="{% static '/img/Mike_Gravel_cropped.png' %}" class=" pict">
                        <div class="textbox"><text class="avenir"> Mike Gravel </text>
                                <text class="avenir f5">Maurice Robert "Mike" Gravel (born May 13, 1930) is an American politician who was a Democratic United States Senator from Alaska from 1969 to 1981 and a candidate in the 2008 U.S. presidential election and the 2020 U.S. presidential election.As a senator, Gravel became nationally known for his forceful but unsuccessful attempts to end the draft during the War in Vietnam and for putting the Pentagon Papers into the public record in 1971 at some risk to himself. He conducted an unusual campaign for the Democratic nomination in 1972 for Vice President of the United States, and then played a crucial role in getting Congressional approval for the Trans-Alaska pipeline in 1973. He was reelected to the Senate in 1974, but gradually alienated his Alaskan constituents, and his bid for a third term was defeated in a primary election in 1980.</text>
                        </div>
        </div>
        </a>


        <div class="pictcontainer"><a href="https://peteforamerica.com/meet-pete/" class="link">
                        <img src="{% static '/img/Pete_Buttigieg_in_February_2019.jpg' %}" class=" pict2">
                        <div class="textbox2"><text class="avenir"> Pete Buttigieg </text>
                                <text class="avenir f5"> Peter Paul Montgomery Buttigieg (born January 19, 1982) is an American politician and former Naval Intelligence Officer who has served as the mayor of the city of South Bend, Indiana since 2012.On April 14, 2019, Buttigieg formally announced he was running for the Democratic nomination for president of the United States in 2020 after having formed an exploratory committee in January 2019.His platform includes support for universal healthcare, reducing income inequality, pro-environmental policies, dialogue and cooperation between the Democratic Party and organized labor, universal background checks for firearms purchases, federal legislation that would ban job discrimination against LGBT people, and preserving the Deferred Action for Childhood Arrivals program for children of immigrants.</text>
                        </div>
        </div>
        </a>



        <div class="pictcontainer"> <a href="https://timryanforamerica.com/" class="link">
                        <img src="{% static '/img/Rep._Tim_Ryan_Congressional_Head_Shot_2010_(cropped_3).jpg' %}"
                                class=" pict">
                        <div class="textbox"><text class="avenir"> Tim Ryan </text>
                                <text class="avenir f5">Timothy John Ryan (born July 16, 1973) is an American politician serving as the U.S. Representative for Ohio's 13th congressional district since 2003. The district, numbered as the 17th district from 2003 to 2013, takes in a large swath of northeast Ohio, from Youngstown to Akron. Ryan is a member of the Democratic Party. Born in Niles, Ohio, Ryan worked as an aide to Congressman Jim Traficant after graduating from Bowling Green State University. He served in the Ohio Senate from 2001 to 2002 before winning election to succeed Traficant. In November 2016, Ryan launched an unsuccessful challenge to unseat Nancy Pelosi as party leader of the House Democrats.
                                On April 4, 2019, Ryan announced his candidacy for president of the United States.</text>

                        </div>
        </div>
        </a>



        <div class="pictcontainer"><a href="https://www.tulsi2020.com/" class="link">
                        <img src="{% static '/img/Tulsi_Gabbard,_official_portrait,_113th_Congress_(cropped_3).jpg' %}"
                                class=" pict2">
                        <div class="textbox2"><text class="avenir"> Tulsi Gabbard </text>
                                <text class="avenir f5"> Tulsi Gabbard (born April 12, 1981) is an American politician serving as the U.S. Representative for Hawaii's 2nd congressional district since 2013. Following her election in 2012, she became the first Samoan American and the first Hindu member of the United States Congress. She is a member of the Democratic Party.On January 11, 2019, Gabbard announced her campaign for the Democratic nomination for President of the United States in 2020.</text>
                        </div>
        </div>
        </a>

</body>
{% endblock %}