{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="pictcontainerdetail mt6 mr6">
        <img src="{{ candidate.image.url }}" class="pictdetail project" id="project01">
    <div class="textboxdetail">
        <text class="name  mt4 f-headline b   "> {{ candidate.first_name }} {{ candidate.last_name }}
        </text>
        <br>
        <div class=" tc f2    graphdetail   "> Sentiment Analysis </div>
        <div class="flex justify-center ma2 pa3 ">
    
            {{ div | safe }}
            </div>
    
           
            
    
    </div>
</div>


<!-- <div class="ml5 mr5 ">     
<div>
        <div class="body-headers accordion pa3"><strong>Who's buzzing?</strong></div>
        <div class="panel">
            <ol>
                <li>Test</li>
            </ol>
        </div>
    </div>
</div> -->


<script>
        let acc = document.getElementsByClassName('accordion')
        let i
      
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener('click', function () {
            this.classList.toggle('active')
            let panel = this.nextElementSibling
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null
            } else {
              panel.style.maxHeight = panel.scrollHeight + 'px'
            }
          })
        }
      </script>

{% endblock %}