{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="index-header">
    <div class="pl4 pr5">
        <div class="body-headers mt3">
            <strong>A modern opinion poll for modern politics.</strong>
        </div>
        <p class="body-content body-structure-index">
        Polimetrics is a web application that performs sentiment analysis on Tweets to generate opinion polls for 2020 presidential primary candidates.
        </p>
        <div class="tc">
            <a class="header-font black link hover-red dib" href="{% url 'methodology' %}"><strong>Learn more</strong></a>
        </div>
    </div>
    <div>
        <div class="body-headers accordion pa3"><strong>Who's buzzing?</strong></div>
        <div class="panel">
            <ol>
            {% for candidate in candidates_mean_sentiments %}
                <li>{{ candidate }}</li>
            {% endfor %}
            <li>Test</li>
            </ol>
            
        </div>
    </div>
</div>
<div>
    <h3 class="body-headers mt4 pl4">Latest Poll</h3>
</div>
<div class="pl4">
    {{ div | safe }}
</div>
<script>
  let acc = document.getElementsByClassName('accordion')
  let i

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener('click', function () {
      this.classList.toggle('active')
      let panel = this.nextElementSibling
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null
      } else {
        panel.style.maxHeight = panel.scrollHeight + 'px'
      }
    })
  }
</script>
{% endblock %}